<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Job Post</title>


 <body>
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
 <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
        <div class="container">
            <div class="jumbotron" style="text-align: center">
                <h1>Job Post</h1>
                <p>Enter your position details below!</p>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <form method="POST" action="/send" role="form", name="jobform">
                        <div class="form-group">
                            <label for="inputName">Job Title</label>
                            <input type="text" class="form-control" id="inputTitle" name="jobTitle" placeholder="Manager">
                        </div>
                        <div class="form-group">
                            <label for="inputCo">Company Name</label>
                            <input type="text" class="form-control" id="inputCo" name="jobCo" placeholder="UCI">
                        </div>
                        <div class="form-group">
                            <label for="inputSum">Job Summary</label>
                            <input type="text" class="form-control" id="inputSum" name="jobSum" placeholder="Details of job responsibilities">
                        </div>
                        <div class="form-group">
                            <label for="inputLat">Job Location Lat</label>
                            <input type="text" class="form-control" id="inputLat" name="jobLat" placeholder="34.0633">
                        </div>
                        <div class="form-group">
                            <label for="inputLon">Job Location Lon</label>
                            <input type="text" class="form-control" id="inputLon" name="jobLong" placeholder="-117.6509">
                        </div>
                        <div class="form-group">
                            <label for="inputSal">Job Salary</label>
                            <input type="text" class="form-control" id="inputSal" name="jobSal" placeholder="$100,000">
                        </div>
                        <input type="submit" value="submit" class="btn btn-default">
                    </form>
                </div>
            </div>

        </div>

    </body>

</html>
